/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}


/* Home */
.home {
  display: none;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  height: 10vh;
  padding-left: 1.5rem;
}

.btn-open-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1.5rem;
  background-color: inherit;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.btn-open-modal {
  width: 10rem;
  height: 1.7rem;
  border: black 2px solid;
  border-radius: 0.5rem;
  font-family: monospace;
  font-size: 1.1rem;
  color: white;
  background-color: black;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn-open-modal:hover {
  color: black;
  background-color: white;
}


/* Modal */
.modal {
  background-color: black;
  opacity: 0.2;
}

.modal-main {
  opacity: 1;
  color: white;
}


/* Sidebar */
.sidebar {
  display: none;
}