/* Global */

:root {
  --red-dark: #990000;
  --black: #472747;
  --violet-white: #fdf3fd;
  --violet-light: #fce6fc;
  --violet-icon: #a75ba7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: inherit;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}


/* Home */
.home {
  height: 100vh;
  background-color: var(--violet-white);
  z-index: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 10vh;
  padding-left: 1.5rem;
}

.btn-open-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.btn-open-modal {
  width: 12rem;
  height: 2rem;
  border: black 0.15rem solid;
  border-radius: 0.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  color: var(--violet-white);
  background-color: black;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn-open-modal:hover {
  color: black;
  background-color: inherit;
}


/* Modal */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.show-modal {
  z-index: 2;
}

.modal-main {
  width: 90%;
  padding: 1rem;
  padding-bottom: 3rem;
  border-radius: 0.5rem;
  color: #180d18;
  background-color: white;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  height: 2rem;
}

.btn-close-modal {
  font-size: 1.5rem;
  color: var(--red-dark);
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  font-size: 1.5rem;
  font-weight: bold;
}


/* Sidebar */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 1;
  transition: all 500ms ease;
  transform: translateX(-110%);
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 1rem;
}

.sidebar-logo {
  color: #f08ff0;
  font-size: 2rem;
  text-shadow: 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
}

.okky {
  color: #180d18;
}

.btn-close-sidebar {
  font-size: 1.5rem;
  color: var(--red-dark);
}

.sidebar-body {
  height: 80vh;
  padding-top: 2rem;
}

.sidebar-list {
  display: flex;
  align-items: center;
  height: 4rem;
  padding-left: 2rem;
  font-size: 1.4rem;
  text-transform: capitalize;
}

.sidebar-list * {
  display: inline-block;
  margin-right: 1rem;
}

.sidebar-list:hover {
  background-color: var(--violet-light);
}

.sidebar-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 10vh;
}

.sidebar-footer * {
  margin: 0 0.2rem;
}

.sidebar-social {
  font-size: 1.7rem;
  color: var(--violet-icon)
}

@media screen and (min-width: 800px) {

  /* Global */
  :root {
    font-size: 17px;
  }

  /* Modal */
  .modal-main {
    width: 40%;
  }

  /* Sidebar */
  .sidebar {
    width: 30vw;
  }

  .sidebar-list {
    height: 3.5rem;
    font-size: 1.2rem;
  }
}