/* Global */

:root {
  --red-dark: #990000;
  --black: #191919;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: inherit;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}


/* Home */
.home {
  display: none;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  height: 10vh;
  padding-left: 1.5rem;
}

.btn-open-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.btn-open-modal {
  width: 10rem;
  height: 1.7rem;
  border: black 2px solid;
  border-radius: 0.5rem;
  font-family: monospace;
  font-size: 1.1rem;
  color: white;
  background-color: black;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn-open-modal:hover {
  color: black;
  background-color: white;
}


/* Modal */
.modal {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-main {
  width: 90%;
  padding: 1rem;
  padding-bottom: 3rem;
  border-radius: 0.5rem;
  background-color: white;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  height: 2rem;
}

.btn-close-modal {
  font-size: 1.5rem;
  color: red;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  font-size: 1.5rem;
  font-weight: bold;
}


/* Sidebar */
.sidebar {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 1rem;
}

.sidebar-logo {
  font-size: 2rem;
}

.btn-close-sidebar {
  font-size: 1.5rem;
  color: var(--red-dark);
}

.sidebar-body {
  height: 80vh;
}

.sidebar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}